/*=============================================================
                    ASSETS
=============================================================*/
/* Font: Work sans

Colors: 
#2e2e2e 
#867772
rgb(234, 204, 194) 
#ebccc2  
#fff 
rgb(115, 115, 115) */


/*--------------------------FONTS---------------------------*/
@font-face {
    font-family: WorkSans-Regular;
    src: url("../fonts/WorkSans-Regular.ttf");
}

@font-face {
    font-family: WorkSans-Light;
    src: url("../fonts/WorkSans-Light.ttf");
}
/*------------------------GENERAL---------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: WorkSans-Regular;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #272727;
}

/*
====================================================================
                code for nav left (fixed) 
                for all pages the same code
====================================================================
*/

#nav__fixed-left {
    position: fixed;
    display: flex;
    gap: 0 36px;
    width: 11vw;
    margin: 20vh 0 0 2vw;
    padding: 0;
}

.circle {
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 1px solid rgb(115, 115, 115);
    border-radius: 50px;
}

.line {
    height: 8vh;
    width: 1px;
    margin: .6vh 0 2.5vh .5vw;
    background-color: rgb(115, 115, 115);
}

/*--------------------------LIST---------------------------*/
.nav__list {
    margin-top: .1vh;
}

.nav__list ul {
    list-style: none;
}

.nav__list ul li {
    margin-bottom: 11.6vh;
}

.nav__list ul li a {
    text-decoration: none;
    font-family: WorkSans-Regular;
    font-size: 1.4rem;
    color: rgb(140, 140, 140);
}

.nav__list span {
    color: white;
    font-family: WorkSans-Regular;
    font-size: 1.4rem;
}

/*-------------------------ACTIVE--------------------------*/
.active__about {
    position: relative;
    height: 26px;
    width: 26px;
    border-radius: 50px;
    border: 1px solid white;
    right: 4px;
    bottom: 4px;
}

.active__lounger {
    position: relative;
    height: 26px;
    width: 26px;
    border-radius: 50px;
    border: 1px solid white;
    left: 43px;
    top: 22px;
}

.active__experience {
    position: relative;
    height: 26px;
    width: 26px;
    border-radius: 50px;
    border: 1px solid white;
    left: 43px;
    top: 22px;
}

.active__inspiration {
    position: relative;
    height: 26px;
    width: 26px;
    border-radius: 50px;
    border: 1px solid white;
    left: 43px;
    top: 22px;
}

.active__shop {
    position: relative;
    height: 26px;
    width: 26px;
    border-radius: 50px;
    border: 1px solid white;
    left: 43px;
    top: 22px;
}

/*
==============================================================
==============================================================
*/
/*------------------------HEADER---------------------------*/
body header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #867772;
    padding: 6vh 3vw
}

body header nav {
    padding-right: 7vw;
}

body header nav ul {
    display: flex;
}

body header nav ul li {
    display: inline;
}

body header nav ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #867772;
}

body header nav ul li a:hover {
    transition: 1s;
    text-decoration: underline;
    font-size: 1.5rem;
    color: #ebccc2;
}

body header nav ul ul {
    margin: 0 5vw;
}

.inner__list li:nth-of-type(2) {
    margin: 0 2vw;
}

/*==========================================================
                INDEX HTML
==========================================================*/
body .heading h1 {
    font-family: WorkSans-Light;
    color: rgb(234, 204, 194);   
    font-size: 3rem;
    line-height: 4vh;
    width: 20vw;
    margin: 10vh 0 0 30vw;
}

/*------------------------BG-PIC-------------------------*/
.bg__pic {
    padding-top: 100vh;
    margin: 15vh auto 15vh auto;
    background-image: url("../img/section-about-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
}

/*----------------------PIC & TEXT----------------------*/
#pic__text {
    margin: 20vh 0 10vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 5vw;
}

#pic__text div img {
    height: 60vh;
    width: auto;
}

.heading__text {
    color: rgb(115, 115, 115);
    font-size: 1.5rem;
    line-height: 3.5vh;
    margin: 4vh 0 2vh 0;
}

.heading__text h2 {
    font-family: WorkSans-Light;
    color: rgb(234, 204, 194);
    font-size: 4rem;
    letter-spacing: 2px;
}

.heading__text p {
    width: 22vw;
    color: rgb(115, 115, 115);
    font-size: 1.5rem;
    line-height: 3.5vh;
}

.heading__text__firstParagraph {
    margin: 4vh 0 2vh 0;
}

/*=====================================================
                LOUNGER EXPERIENCE STYLE
=====================================================*/
#bg-pic-text__lounger {
    height: 45vw;
    background-image: url("../img/section-voyager.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 53% 100%;
}

#bg-pic-text__experience {
    height: 45vw;
    background-image: url("../img/section-experience-1.jpg");
    background-repeat: no-repeat;
    background-size: 53% 100%;
}

.lounger__heading-text {
    margin: 8vh  0 0 56vw;
    width: 28vw;
}

.experience__heading-text {
    margin: 6vh 0 0 56vw;
    width: 28vw;
}

.lounger__heading-text h1,
.experience__heading-text h1 {
    font-family: WorkSans-Light;
    color: rgb(234, 204, 194);
    font-size: 4rem;
    letter-spacing: 2px;
    margin: 0 0 10vh 0;
} 

.lounger__heading-text p,
.experience__heading-text p {
    width: 24vw;
    font-family: WorkSans-Light;
    font-size: 1.7rem;
    line-height: 3vh;
    color: rgb(115, 115, 115);
    margin-bottom: 2vh;
}

/*=====================================================
                EXIST TO CREATE STYLE
=====================================================*/
.video {
    text-align: center;
    margin: 10vh 0;
}

.video video {
    height: 70vh;
}

.heading__list {
    margin: 15vh 10vw 0 22vw;
}

.heading__list h1 {
    font-family: WorkSans-Light;
    letter-spacing: 2px;
    color: rgb(234, 204, 194);
    font-size: 2rem;
}

.heading__list h2 {
    font-family: WorkSans-Light;
    letter-spacing: 2px;
    color: #fadad0;
    font-size: 3.5rem;
    margin-top: 1vh;
}

.heading__list ul {
    margin: 6vh 0 2vh 0;
}

.heading__list ul li {
    display: inline;
    color: rgb(115, 115, 115);
    letter-spacing: 2px;
    border: 1px solid white;
    padding: .7vh .5vw;
}

.heading__list ul li:nth-of-type(2) {
    margin: 0 .1vw;
}

.heading__list p {
    font-family: WorkSans-Light;
    color: rgb(115, 115, 115);
    font-size: 1.5rem;
    letter-spacing: 1px;
}

/*---------------------PIC LEFT & TEXT----------------------*/
.pic-left__text {
    display: flex;
    justify-content: center;
    gap: 0 2vw;
    margin-top: 15vh;
}

.pic-left__text .pic__left img {
    width: 30vw;
}

.pic-left__text .alchemy__text h2 {
    color: rgb(234, 204, 194);
    font-family: WorkSans-Light;
    margin: 12vh 0 1vh 0;
    font-size: 3rem;
}

.alchemy__text p:nth-of-type(1) {
    font-family: WorkSans-Light;
    color: rgb(234, 204, 194);
    font-size: 5rem;
    letter-spacing: 1px;
}

.alchemy__text p:nth-of-type(2) {
    width: 19vw;
    margin-top: 7vh;
    font-size: 1.5rem;
    color: rgb(115, 115, 115);
    line-height: 3vh;
}

/*----------------------PIC RIGHT & TEXT---------------------*/
.pic-right__text {
    display: flex;
    justify-content: center;
    margin-bottom: 10vh;
}

.sound__text {
    width: 22vw;
    margin: 10vh 6vw 0 2vw;
}

.sound__text h2 {
    color: rgb(234, 204, 194);
    font-family: WorkSans-Light;
    font-size: 3rem;
    margin-bottom: 2vh;
}

.sound__text p:nth-of-type(1) {
    font-family: WorkSans-Light;
    color: rgb(234, 204, 194);
    font-size: 5rem;
}

.sound__text p:nth-of-type(2) {
    width: 19vw;
    margin-top: 5vh;
    font-size: 1.5rem;
    color: rgb(115, 115, 115);
    line-height: 3vh;
}

.pic__right img {
    width: 26vw;
}

/*=====================================================
                    PRODUCT STYLE
=====================================================*/
#pic__product {
    height: 45vw;
    background-image: url("../img/section-composition4.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 53% 100%;
}

.product__name__btn {
    width: 20vw;
    margin-left: 65vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product__name__btn h1 {
    font-family: WorkSans-Light;
    font-size: 3rem;
    letter-spacing: 2px;
    color: rgb(234, 204, 194);
}

.product__name__btn p:nth-of-type(1) {
    color: rgb(115, 115, 115);
    font-size: 2rem;
    font-family: WorkSans-Light;
    margin-top: 2vh;
}

.price {
    margin-top: 4vh;
    color: rgb(115, 115, 115);
    font-size: 2rem;
    font-family: WorkSans-Light;
}

.product__name__btn button {
    background-color: #ebccc2;
    padding: 1vh 1vw;
    margin-top: 1vh;
    border: 1px solid white;
    letter-spacing: 2px;
    cursor: pointer;
}

/*=====================================================
                    FORMULAR
=====================================================*/
#form {
    height: 67vh;
    width: 22vw;
    margin: 5vh auto;
    border: 2px solid #867772;
    display: flex;
    flex-direction: column;
}

#form form {
    margin: 2vh 0 0 2.5vw;
}

#form h1 {
    color: #ebccc2;
    font-size: 3.5rem;
    margin: 2.5vh 0 3vh 0;
}

#form input[type="text"] {
    padding: 1vh 7vw 1vh 1vw;
    margin-bottom: 2vh;
    font-size: 1.5rem;
    background-color: #272727;
    border: 1px solid #ebccc2;
    color: rgb(115, 115, 115);
}

#form input[type="email"] {
    padding: 1vh 7vw 1vh 1vw;
    font-size: 1.5rem;
    background-color: #272727;
    border: 1px solid #ebccc2;
    color: rgb(115, 115, 115);
}

#form form textarea {
    font-size: 1.5rem;
    padding: 1vh 0 0 1vw;
    width: 16.9vw;
    height: 12vh;
    margin: 2vh 0;
    resize: none;
    display: block;
    background-color: #272727;
    border: 1px solid #ebccc2;
    color: rgb(115, 115, 115);
}

#form form label:nth-of-type(4) {
    font-size: 1.5rem;
    color: #ebccc2;
    display: block;
    margin-bottom: 1vh;
}

#form form label:nth-of-type(5) {
    font-size: 1.5rem;
    color: #ebccc2;
    display: block;
}

#form form label:nth-of-type(5) a {
    font-size: 1.5rem;
    color: white;
}

.btn {
    padding: 1vh 2.4vw;
    margin: 5vh 2vw 0 0;
    background-color: #ebccc2;
    border: 1px solid white;
    letter-spacing: 1px;
    font-size: 1.5rem;
    cursor: pointer;
}

.btn:hover {
    background-color: #867772;
    color: white;
    transition: .5s;
}

input,
textarea {
    outline: none;
}

input:focus,
textarea:focus {
    border: 2px solid #ebccc2;
}